In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 30)
%matplotlib inline

In [2]:
df = pd.read_csv('./kidney_disease.csv')

In [3]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,36.0,1.2,NaN,NaN,15.4,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,18.0,0.8,NaN,NaN,11.3,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,53.0,1.8,NaN,NaN,9.6,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,56.0,3.8,111.0,2.5,11.2,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,26.0,1.4,NaN,NaN,11.6,35,7300,4.6,no,no,no,good,no,no,ckd

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
id                400 non-null int64
age               391 non-null float64
bp                388 non-null float64
sg                353 non-null float64
al                354 non-null float64
su                351 non-null float64
rbc               248 non-null object
pc                335 non-null object
pcc               396 non-null object
ba                396 non-null object
bgr               356 non-null float64
bu                381 non-null float64
sc                383 non-null float64
sod               313 non-null float64
pot               312 non-null float64
hemo              348 non-null float64
pcv               330 non-null object
wc                295 non-null object
rc                270 non-null object
htn               398 non-null object
dm                398 non-null object
cad               398 non-null object
appet             399 non-null object
pe                399 non-null object
ane               399 non-null object
classification    400 non-null object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.3+ KB

In [5]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,36.0,1.2,NaN,NaN,15.4,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,18.0,0.8,NaN,NaN,11.3,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,53.0,1.8,NaN,NaN,9.6,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,56.0,3.8,111.0,2.5,11.2,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,26.0,1.4,NaN,NaN,11.6,35,7300,4.6,no,no,no,good,no,no,ckd

In [6]:
df['classification'].replace('ckd\t','ckd',inplace=True)
df['classification'].unique()

array(['ckd', 'notckd'], dtype=object)

In [7]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 3 to 399
Data columns (total 26 columns):
id                158 non-null int64
age               158 non-null float64
bp                158 non-null float64
sg                158 non-null float64
al                158 non-null float64
su                158 non-null float64
rbc               158 non-null object
pc                158 non-null object
pcc               158 non-null object
ba                158 non-null object
bgr               158 non-null float64
bu                158 non-null float64
sc                158 non-null float64
sod               158 non-null float64
pot               158 non-null float64
hemo              158 non-null float64
pcv               158 non-null object
wc                158 non-null object
rc                158 non-null object
htn               158 non-null object
dm                158 non-null object
cad               158 non-null object
appet             158 non-null object
pe                158 non-null object
ane               158 non-null object
classification    158 non-null object
dtypes: float64(11), int64(1), object(14)
memory usage: 33.3+ KB

In [8]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,56.0,3.8,111.0,2.5,11.2,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,70.0,107.0,7.2,114.0,3.7,9.5,29,12100,3.7,yes,yes,no,poor,no,yes,ckd
11,11,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,notpresent,380.0,60.0,2.7,131.0,4.2,10.8,32,4500,3.8,yes,yes,no,poor,yes,no,ckd
14,14,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,present,157.0,90.0,4.1,130.0,6.4,5.6,16,11000,2.6,yes,yes,yes,poor,yes,no,ckd
20,20,61.0,80.0,1.015,2.0,0.0,abnormal,abnormal,notpresent,notpresent,173.0,148.0,3.9,135.0,5.2,7.7,24,9200,3.2,yes,yes,yes,poor,yes,yes,ckd

In [9]:
df['rbc'].replace('normal',1,inplace=True)
df['rbc'].replace('abnormal',0,inplace=True)

In [10]:
df['pc'].replace('abnormal',0,inplace=True)
df['pc'].replace('normal',1,inplace=True)

In [11]:
df['pcc'].replace('notpresent',0,inplace=True)
df['pcc'].replace('present',1,inplace=True)

In [12]:
df['ba'].replace('notpresent',0,inplace=True)
df['ba'].replace('present',1,inplace=True)

In [13]:
#htn	dm	cad
df['htn'].replace('no',0,inplace=True)
df['htn'].replace('yes',1,inplace=True)

In [14]:
df['dm'].replace('no',0,inplace=True)
df['dm'].replace('yes',1,inplace=True)

In [15]:
df['cad'].replace('no',0,inplace=True)
df['cad'].replace('yes',1,inplace=True)

In [16]:
#pe	ane
df['pe'].replace('no',0,inplace=True)
df['pe'].replace('yes',0,inplace=True)

df['ane'].replace('no',0,inplace=True)
df['ane'].replace('yes',1,inplace=True)

In [17]:
#appet
df['appet'].replace('poor',0,inplace=True)
df['appet'].replace('good',1,inplace=True)

In [18]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
3,3,48.0,70.0,1.005,4.0,0.0,1,0,1,0,117.0,56.0,3.8,111.0,2.5,11.2,32,6700,3.9,1,0,0,0,0,1,ckd
9,9,53.0,90.0,1.020,2.0,0.0,0,0,1,0,70.0,107.0,7.2,114.0,3.7,9.5,29,12100,3.7,1,1,0,0,0,1,ckd
11,11,63.0,70.0,1.010,3.0,0.0,0,0,1,0,380.0,60.0,2.7,131.0,4.2,10.8,32,4500,3.8,1,1,0,0,0,0,ckd
14,14,68.0,80.0,1.010,3.0,2.0,1,0,1,1,157.0,90.0,4.1,130.0,6.4,5.6,16,11000,2.6,1,1,1,0,0,0,ckd
20,20,61.0,80.0,1.015,2.0,0.0,0,0,0,0,173.0,148.0,3.9,135.0,5.2,7.7,24,9200,3.2,1,1,1,0,0,1,ckd

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
from sklearn.cross_validation import train_test_split

C:\Users\NitinNikamanth\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [21]:
X = df.drop('classification',axis=1)
y= df['classification']

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [23]:
clf = RandomForestClassifier(n_estimators=200)

In [24]:
df.columns

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr',
       'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [25]:
df['pcv'].replace('\t43','43',inplace=True)

In [26]:
df['pcv'].unique()

array(['32', '29', '16', '24', '37', '33', '28', '36', '22', '40', '52',
       '30', '35', '23', '25', '39', '26', '20', '31', '34', '9', '48',
       '46', '42', '49', '41', '44', '45', '43', '50', '51', '47', '53',
       '54'], dtype=object)

In [27]:
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [28]:
predictions = clf.predict(X_test)

In [29]:
from sklearn.metrics import confusion_matrix,classification_report

In [30]:
print(confusion_matrix(y_test,predictions),'\n')
print(classification_report(y_test,predictions))

[[13  0]
 [ 0 35]]

             precision    recall  f1-score   support

        ckd       1.00      1.00      1.00        13
     notckd       1.00      1.00      1.00        35

avg / total       1.00      1.00      1.00        48

In [31]:
len(predictions)

48

In [32]:
predictions

array(['notckd', 'notckd', 'notckd', 'notckd', 'notckd', 'ckd', 'notckd',
       'notckd', 'notckd', 'notckd', 'ckd', 'notckd', 'ckd', 'notckd',
       'ckd', 'ckd', 'notckd', 'notckd', 'notckd', 'notckd', 'notckd',
       'ckd', 'ckd', 'ckd', 'ckd', 'notckd', 'notckd', 'notckd', 'notckd',
       'notckd', 'notckd', 'notckd', 'notckd', 'notckd', 'notckd',
       'notckd', 'notckd', 'ckd', 'notckd', 'notckd', 'ckd', 'notckd',
       'notckd', 'notckd', 'ckd', 'notckd', 'ckd', 'notckd'], dtype=object)